* {
    font-size: 12px;
    font-family: "宋体";
    color: black;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #252525;
}

input {
    border: none;
}

.register1 {
    background: white;
    width: 400px;
    height: 120px;
    overflow: hidden;
    text-align: center;
    line-height: 120px;
    letter-spacing: 10px;
    margin-bottom: 2px;
}

.register1_1 {
    font-size: 60px;
    font-weight: bolßd;
    color: blue;
}

.register2 {
    background: rgb(206, 206, 206);
    width: 400px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
}

.register2_1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rUsr_name {
    padding-top: 6px;
    height: 20px;
    width: 150px;
}

.register3 {
    background: rgb(206, 206, 206);
    width: 400px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
}

.register3_1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rPass_word1 {
    padding-top: 6px;
    height: 20px;
    width: 150px;
}

.register4 {
    background: rgb(206, 206, 206);
    width: 400px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
}

.register4_1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rPass_word2 {
    padding-top: 6px;
    height: 20px;
    width: 150px;
}

.register5 {
    background: rgb(206, 206, 206);
    width: 400px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 1px;
}

.register5_1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rInput_code {
    padding-top: 3px;
    height: 20px;
    width: 70px;
}

.rCodeJS {
    background-color: #E6E6FA;
    padding-top: 3px;
    height: 24px;
    width: 70px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #D2691E;
}

.register6 {
    background: rgb(206, 206, 206);
    width: 400px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    letter-spacing: 10px;
}

.register6 input {
    background-color: #252525;
    font-size: 18px;
    padding-left: 16px;
    letter-spacing: 10px;
    font-weight: bold;
    color: White;
}
