body{
    background-image: url('bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: #00a2ff;
    margin-top: 20%;
    margin-bottom: 14%;
}

.photo    {
    height: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10%;
}


.banquan{
    background-color:#f08c55;    
    text-align: center;
    color:white;
    margin-top: 20px;
    margin-right:0px;
    padding:20px;
}

h2{
    margin-left:5%;
    margin-top: 20px;
    margin-bottom: 15px;
    color:#3863b2;
}
p{
    margin-left: 5%;
    margin-right:5%;
}


.row{
    text-align: center;
}